/* // html */

@use './h-fonts' as F;
@use './h-colors' as C;


html {
    font-family: F.$mainFont;
    font-size: F.$fontSize;
    font-weight: F.$textRegular;
    line-height: F.$lineHeight;
    color: C.$primaryColor;
    margin-top: 1.5rem;
    place-items: center;
    background-color: C.$bgColor;
} 
